/*
========GLOBAL
*/
html,
body {
	min-height: 100%;
}

body {
	min-height: 900px;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background-color: #EEEEEE;
	color: #303030;
}

main {
	float: left;
	width: 60%;
	height: 100%;
}

aside {
	float: right;
	width: 40%;
	height: 100%;
}

.m-column {
	width: 20%;
	height: 200px;
	float: left;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.column {
	width: 50%;
	height: 267px;
	float: left;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.one {
	background-image: url(../img/1.jpg);
}

.two {
	background-image: url(../img/2.jpg);
}
.three {
	background-image: url(../img/3.jpg);
}
.four {
	background-image: url(../img/4.jpg);
}
.five {
	background-image: url(../img/5.jpg);
}

.six {
	background-image: url(../img/6.jpg);
}

.m-one {
	background-image: url(../img/11.jpg);
}

.m-two {
	background-image: url(../img/12.jpg);
}
.m-three {
	background-image: url(../img/13.jpg);
}
.m-four {
	background-image: url(../img/14.jpg);
}
.m-five {
	background-image: url(../img/15.jpg);
}

.m-six {
	background-image: url(../img/16.jpg);
}
.m-seven {
	background-image: url(../img/17.jpg);
}
.m-eight {
	background-image: url(../img/18.jpg);
}
.m-nine {
	background-image: url(../img/19.jpg);
}
.m-ten {
	background-image: url(../img/10.jpg);
}